.header {
  padding: 13.5px 0px;
  background-color: var(--bs-main);
}

.items {
  height: 100%;
  color: var(--bs-text);
}

.item {
  color: var(--bs-text);
  cursor: pointer;
}

.sign-up-btn {
  background-color: var(--bs-vice);
  color: var(--bs-text);
}
