.main {
  height: calc(720px - 64px);
  background: no-repeat center url(assets/paper-bg.png);
  background-size: cover;
}

.wrapper {
  padding: 40px 0px 20px 0px;
}

.content {
  padding: 50px 50px 20px 50px;
  background: no-repeat center url(assets/mottlement-bg.png);
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.F2E {
  font-family: AR JULIAN;
}

.v-hacker {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
}

.items {
  height: 100%;
  color: var(--bs-text);
}

.item {
  color: var(--bs-text);
  cursor: pointer;
}

.sign-up-btn {
  background-color: var(--bs-vice);
  color: var(--bs-text);
}
