.main {
  height: calc(100vh - 67px);
  background: no-repeat center url(assets/paper-bg.png);
  background-size: cover;
}

.wrapper {
  padding: 40px 10px 20px;
  box-sizing: border-box;
  height: calc(100vh - 67px);
}

.content {
  background-color: rgb(237, 213, 168);
  border-left: 20px solid var(--bs-main);
  border-right: 20px solid var(--bs-main);
  border-top: 10px solid var(--bs-main);
  border-bottom: 10px solid var(--bs-main);
  padding: 56px 51px;
  position: relative;
  overflow: hidden;
}

.v-hacker {
  position: absolute;
  bottom: -2%;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  padding-top: 5%;
}

.items {
  height: 100%;
  color: var(--bs-text);
}

.item {
  color: var(--bs-text);
  cursor: pointer;
}

.sign-up-btn {
  background-color: var(--bs-vice);
  color: var(--bs-text);
}
