@import "breakpoints.scss";

.main {
  background: no-repeat center url(/assets/paper-bg.png);
  background-size: cover;
}

.content-container {
  padding: 14px 0px 0px 0px;
}

.content {
  aspect-ratio: 1 / 2.304;
  background-image: url(/assets/mottlement-bg-sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.copywritings {
  padding: 50px;
}

.F2E {
  font-family: AR JULIAN;
  font-size: 80px;
  color: var(--bs-main);
  margin-bottom: 36px;
}

.F2E > div {
  font-family: NotoSansTC-Bold;
  font-size: 32px;
  padding: 0px 28px;
  border-radius: 12px;
  color: var(--bs-text);
  background-color: var(--bs-vice);
  height: 46px;
  margin: 12px 0px 0px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.copywriting {
  font-family: NotoSerifTC-Black;
  color: var(--bs-main);
  font-size: 42px;
  line-height: 60.35px;
}

.vice-copywriting {
  font-family: NotoSansTC-Regular;
  color: var(--bs-main);
  font-size: 24px;
  line-height: 34.75px;
}

.v-hacker {
  bottom: -1%;
  left: 326px;
}

.bounty {
  top: 0;
  right: 0;
  transform: translate(20px, -20px);
}

.num-of-person-wrapper {
  color: var(--bs-main);
  font-size: 28px;
  font-family: AR JULIAN;
}

.num-of-person {
  margin-right: 40px;
}

.num-of-person > h4 {
  line-height: 56.15px;
}

.num-of-person > h4 > span {
  font-size: 50px;
}

.bonus {
  z-index: 100;
  color: var(--bs-text);
  font-size: 28px;
  font-family: AR JULIAN;
  bottom: 20px;
  left: 360px;
}

.bonus > span {
  z-index: 100;
  font-size: 56px;
  font-family: AR JULIAN;
  color: var(--bs-vice);
}

.mouse {
  right: 51px;
  bottom: 49px;
}

@keyframes scrollDown {
  0% {
    transform: translateY(7px);
  }

  50% {
    transform: translateY(21px);
  }

  100% {
    transform: translateY(7px);
  }
}

@keyframes textScrollDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(14px);
  }

  100% {
    transform: translateY(0px);
  }
}

.mouse-middle-btn {
  animation: 2s ease-in-out infinite scrollDown;
  top: 0;
  left: 50%;
}

.scroll-down {
  animation: 2s ease-in-out infinite textScrollDown;
  font-family: NotoSansTC-Regular;
}

@media screen and (min-width: $md) {
  .content-container {
    padding: 28px 0px 32px 0px;
  }

  .content {
    background-image: url(/assets/mottlement-bg-md.png);
    aspect-ratio: 1 / 1.22554347826;
  }
}

@media screen and (min-width: $lg) {
  .content-container {
    padding: 40px 0px 20px 0px;
  }

  .content {
    background-image: url(/assets/mottlement-bg-lg.png);
    aspect-ratio: 1 / 0.4975;
  }
}
