.main {
  height: calc(720px - 64px);
  background: no-repeat center url(assets/paper-bg.png);
  background-size: cover;
}

.content-container {
  padding: 40px 0px 20px 0px;
}

.content {
  padding: 50px 50px 20px 50px;
  background: no-repeat center url(assets/mottlement-bg.png);
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.copywriting {
  font-family: NotoSerifTC-Black;
  color: var(--bs-main);
  font-size: 42px;
}

.vice-copywriting {
  font-family: NotoSansTC-Regular;
  color: var(--bs-main);
  font-size: 24px;
}

.F2E {
  font-family: AR JULIAN;
  font-size: 80px;
  color: var(--bs-main);
}

.v-hacker {
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translateX(-50%);
}

.bounty {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20px, -20px);
}

.num-of-person-wrapper {
  color: var(--bs-main);
  font-size: 28px;
  font-family: AR JULIAN;
}

.num-of-person {
  width: 60%;
}

.num-of-person > h4 > span {
  font-size: 50px;
}
