.picture {
  padding-top: 70px;
}

.detail {
  background: url(assets/old-paper.png);
}

.paper-left {
  z-index: 30000;
  width: 77vw;
}

.paper-right {
  z-index: 10000;
  width: 95vw;
}

.scroll-area {
  height: 5000px;
}

.sticky-area {
  z-index: 100;
}

.paper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.paper-top {
  z-index: 20000;
}

.paper-left {
  z-index: 30000;
  left: 0;
}

.paper-right {
  z-index: 10000;
  right: 0;
}

.papers {
  z-index: 100000;
}
