.picture {
  padding-top: 70px;
}

.detail {
  background: url(assets/old-paper.png);
}

.paper-top {
  top: 0;
  z-index: 10000;
}

.scroll-area {
  height: 4000px;
}

.sticky-area {
  z-index: 100;
}
